<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <appSettings>
    <add key="log4net.RepositorySelector" value="Nvx.Log4netAutofacXmlConfigurator.RepositorySelector, Nvx.Log4netAutofacXmlConfigurator"/>
  </appSettings>
  <log4net>
    <appender name="MyAppender" type="Nvx.Log4netAutofacXmlConfigurator.Sample.SampleAppender,Nvx.Log4netAutofacXmlConfigurator.Sample">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d] v.%property{assemblyVersion} [%-5p] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
    </root>
  </log4net>
  <autofac defaultAssembly="Nvx.Log4netAutofacXmlConfigurator.Sample">
  </autofac>
</configuration>